<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Re-Estrena</title>
    <link rel="stylesheet" href="estilo.css">
</head>

<body class="view-@ViewContext.RouteData.Values['controller'] - @ViewContext.RouteData.Values['action']"></body>>
  <header>
    <div class="top-bar">
      <img src="logo.png" alt="Logo Re-Estrena">
      <h1>RE-ESTRENA</h1>
      <a href="#">Vender</a>
      <a href="#"><img src="icono-usuario.png" alt="Usuario"></a>
      <a href="#"><img src="icono-favoritos.png" alt="Favoritos"></a>
      <a href="#"><img src="icono-carrito.png" alt="Carrito"></a>
    </div>
  </header>
  
    <main>
        
      <section id="productos-carrito">
          
          <article class="item-carrito">
              <div class="info-producto">
                  <p>Producto 3</p>
                  <small>Publicacion de:</small>
              </div>
              <div class="cantidad-precio">
                  <p>Cant. unidades:</p>
                  <strong>$</strong>
              </div>
              <a href="#" class="eliminar" title="Eliminar producto">🗑️</a>
          </article>

          <article class="item-carrito">
              <div class="info-producto">
                  <p>Producto 3</p>
                  <small>Publicacion de:</small>
              </div>
              <div class="cantidad-precio">
                  <p>Cant. unidades:</p>
                  <strong>$</strong>
              </div>
              <a href="#" class="eliminar" title="Eliminar producto">🗑️</a>
          </article>
          
          <article class="item-carrito">
              <div class="info-producto">
                  <p>Producto 3</p>
                  <small>Publicacion de:</small>
              </div>
              <div class="cantidad-precio">
                  <p>Cant. unidades:</p>
                  <strong>$</strong>
              </div>
              <a href="#" class="eliminar" title="Eliminar producto">🗑️</a>
          </article>

      </section>

      <section id="resumen-compra">
          
          <dl id="precios">
              <dt>Producto</dt>
              <dd>$</dd>
              <dt>Envío</dt>
              <dd>$</dd>
              <dt>Total</dt>
              <dd>$</dd>
          </dl>

          <button id="continuar-compra">Continuar compra</button>
          
      </section>

  </main>

  <footer>
    <p>© Copyright - Todos los derechos reservados a Re-Estrena</p>
  </footer>
  
</body>
</html>