<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Re-Estrena - Iniciar sesión</title>
    <link rel="stylesheet" href="estilo.css">
    
</head>
<body class="view-@ViewContext.RouteData.Values['controller'] - @ViewContext.RouteData.Values['action']"></body>>
    <header>
        <img src="logo.png" alt="Logo Re-Estrena">
        <h1>RE-ESTRENA</h1>
    </header>

  <main>
    <section class="login-box">
      <div>
        <h2>¿Ya tienes cuenta?</h2>
        <form>
          <label for="usuario">Usuario</label>
          <input type="text" id="usuario" name="usuario" placeholder="Usuario">

          <label for="contrasena">Contraseña</label>
          <input type="password" id="contrasena" name="contrasena" placeholder="Contraseña">

          <button type="submit">Iniciar sesión</button>
        </form>

        <section class="registrate">
          <div>
            <p>¿No tienes cuenta?</p>
            <button type="button">Registrarse</button>
          </div>
        </section>
      </div>
    </section>
  </main>

  <footer>
    <p>© Copyright - Todos los derechos reservados a Re-Estrena</p>
  </footer>
</body>
</html>