<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
<section class = "ingresar">

    
        <form method="post" action="login.html">
            <h1>¿Ya tienes cuenta?</h1>
            <input type="text" id="name" name="name" placeholder="Enter Email"/>
           
            <input type="password" id="contraseña" name="contraseña" placeholder="Enter Password"/>
            <button type="submit">Ingresar</button>
        
            <button type="Sign up">Sign Up</button>

            </section>

        </form>
    
</body>
</html>