<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Re-Estrena - Perfil Vendedor</title>
</head>
<body>
    <header>
        <div class="top-bar">
            <img src="logo.png" alt="Logo Re-Estrena">
            <h1>RE-ESTRENA</h1>
            <a href="#">Comprar</a>
            <a href="#"><img src="icono-usuario.png" alt="Usuario"></a>
            <a href="#"><img src="icono-favoritos.png" alt="Favoritos"></a>
            <a href="#"><img src="icono-carrito.png" alt="Carrito"></a>
        </div>
    </header>
    
    <main>
    
        <section>
        <h2>Mensajes</h2>
        <ul>
            <li>
            <strong>Nombre contacto</strong><br>
            mensaje<small>fecha</small>
            </li>

            <li>
            <strong>Nombre contacto</strong><br>
            mensaje<small>fecha</small>
            </li>

             <li>
            <strong>Nombre contacto</strong><br>
            mensaje<small>fecha</small>
            </li>

             <li>
            <strong>Nombre contacto</strong><br>
            mensaje<small>fecha</small>
            </li>

            <li>
            <strong>Nombre contacto</strong><br>
            mensaje<small>fecha</small>
            </li>

            <li>
            <strong>Nombre contacto</strong><br>
            mensaje<small>fecha</small>
            </li>

             <li>
            <strong>Nombre contacto</strong><br>
            mensaje<small>fecha</small>
            </li>

             <li>
            <strong>Nombre contacto</strong><br>
            mensaje<small>fecha</small>
            </li>
        </ul>
        </section>

        <section>
        <h3>Chat con Nombre conacto</h3>
        <p><small>fecha ultimo chat</small></p>
        <p>mensaje</p>
        <p>respuesta</p>
        <p><small>fecha</small></p>

        <form>
            <label for="mensaje">Escribí tu mensaje:</label><br>
            <input type="text" id="mensaje" name="mensaje" placeholder="Escribí tu mensaje">
            <button type="submit">Enviar</button>
        </form>
        </section>
    </main>

  <footer>
    <p>© Copyright - Todos los derechos reservados a Re-Estrena</p>
  </footer>
  
</body>
</html>