<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Re-Estrena - Registrarse</title>
  <link rel="stylesheet" href="estilo.css">
</head>

<body>
<header>
  <div>
    <img src="logo.png" alt="Logo Re-Estrena">
    <h1>RE-ESTRENA</h1>
  </div>
</header>

<main>
  <section class="imagen-lateral">
    <img src="ropa-colores.jpg" alt="Ropa de colores">
  </section>
  <section class="formulario">
    <h2>Registrate en Re-Estrena</h2>
      <form asp-controller="Usuario" asp-action="Registrarse" method="post">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>

        <label for="password">Contraseña</label>
        <input type="password" id="password" name="password" required>

        <label for="usuario">Usuario</label>
        <input type="text" id="usuario" name="usuario" required>

        <label for="nombre">Nombre completo</label>
        <input type="text" id="nombre" name="nombre" required>

        <label for="pais">País</label>
        <input type="text" id="pais" name="pais">

        <label for="telefono">Teléfono</label>
        <input type="tel" id="telefono" name="telefono">

        <div>
          <input type="checkbox" id="privacidad" name="privacidad" required>
          <label for="privacidad">Acepto la política de privacidad</label>
        </div>

        <div>
          <p>Si querés enterarte de cosas nuevas, suscríbete a nuestro Newsletter:</p>
          <input type="email" id="newsletter" name="newsletter" placeholder="Ingresá tu mail">
        </div>

        <a href="@Url.Action("RegistrarseGuardar", "Usuario")" class="boton-registrarse">
        <button>Registrarse</button>
      </form>
  </section>
</main>

<footer>
  <p>&copy; Copyright - Todos los derechos reservados a Re-Estrena</p>
</footer>
</body>

</html>