<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="estilo.css">
</head>

<body class="view-@ViewContext.RouteData.Values['controller'] - @ViewContext.RouteData.Values['action']"></body>>
<main>
  <section>
    <div>
      <button>Subir foto</button>
    </div>

    <div>
      <h2>Nombre usuario</h2>
      <p>@usuario</p>
      <p>Descripcion del usuario</p>
      <button>✏️</button>
    </div>
  </section>

  <section>
    <h3>Favoritas:</h3>
    <ul>
      <li>
        <h4>Nombre Producto</h4>
        <p>Descripcion del producto</p>
        <p><small>etiquetas</small></p>
        <p><b>precio</b></p>
      </li>
      <li>
        h4>Nombre Producto</h4>
        <p>Descripcion del producto</p>
        <p><small>etiquetas</small></p>
        <p><b>precio</b></p>
      </li>
      <li>
        h4>Nombre Producto</h4>
        <p>Descripcion del producto</p>
        <p><small>etiquetas</small></p>
        <p><b>precio</b></p>
      </li>
    </ul>
  </section>

  <section>
    <h3>Wishlist:</h3>
    <ul>
      <li>
        h4>Nombre Producto</h4>
        <p>Descripcion del producto</p>
        <p><small>etiquetas</small></p>
        <p><b>precio</b></p>
      </li>
      <li>
        h4>Nombre Producto</h4>
        <p>Descripcion del producto</p>
        <p><small>etiquetas</small></p>
        <p><b>precio</b></p>
      </li>
      <li>
        h4>Nombre Producto</h4>
        <p>Descripcion del producto</p>
        <p><small>etiquetas</small></p>
        <p><b>precio</b></p>
      </li>
    </ul>
  </section>

  <section>
    <button>Cerrar sesión</button>
  </section>

</main>

<footer>
  <p>© Copyright - Todos los derechos reservados a Re-Estrena</p>
</footer>
</body>

</html>